/* .list{
    color: red;
    text-transform:capitalize;
    font-size: 20px;
    font-family: Arial, HElvetica, sans-serif;
    text-align: center;
    list-style: none;

}
ul{
    display: flex;
    justify-content: space-evenly;
}
.list:hover{
    color: #000;
    cursor: pointer;
    border-bottom-color: 1px solid red;
} */
*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

.containerx{
    background: linear-gradient(to right, #868f96 0%, #596164 100%);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0;
}
/* .randomUsers{
    margin-left: 15em;
    padding-top: 3em
} */

.imageUsers{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 3em;
    border-bottom: 1px solid #aaa;
}

.imageUsers > h2{
    font-size: 20px;
    text-transform: capitalize;
    padding-bottom: 2em;
    color: #124557;
}
.imageUsers > p{
    color: #124557;
    padding-top: 3em;
    padding-bottom: 1em;
}

.section{
    color:#124557;
    line-height: 2;
    background: #000;
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    padding-top: 5em;
    font-size: 15px;
    padding-bottom: 2em;
}

.img{
    width: 300px;
    height: 200px;
    border: 3px solid #aaa;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}


.call,
.location{
    color: rgb(194, 34, 34);
}
.mail{
    color: rgb(12, 12, 128);
}
.button{
    margin-left: 40em;
    margin-top: 2em;
    margin-bottom: 2em;
    cursor: pointer;
    height: 70px;
    width: 300px;
    border: none;
    background: #537895;
    color: #aaa;
    font-size: 20px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

@media (max-width: 768px) {
    .button{
        margin-left: 2em;
    }
    .section{
        display: block;
        padding-left: 2em;
        padding-top: 1em;
        font-size: 15px;
    }
}